@using FindMyRestaurant.Framework.Helpers;
@{
    ViewBag.Title = "Restaurant finden";
}

<div class="wrapper">
    <div class="container-fluid">

        @CustomHtmlHelper.PageTitleRow(ViewBag.Title)


        

    </div>
</div>