<appSettings>

  <add key="CdnServerAddress" value="$(Fmr_CdnServerAddress)" />
  <add key="GoogleAnalyticsTrackingKey" value="$(Fmr_GoogleAnalyticsTrackingKey)" />

  <add key="Config:AmountOfItemsForQuickTables" value="5" />
  <add key="Config:SecureMaxAmountOfItemsForRequests" value="100" />
  
</appSettings>
