@using FindMyRestaurant.Framework.Helpers;
@{
    ViewBag.Title = "Restaurants";
}

<div class="wrapper">
    <div class="container-fluid">

        @CustomHtmlHelper.PageTitleRow(ViewBag.Title)

        <div class="row mb-4">
            <div class="col-sm-4">
                <button type="button" class="btn btn-dark btn-default" data-toggle="modal" data-target="#addRestaurantModal">
                    <i class="far fa-plus-square"></i> Restaurant anlegen
                </button>
            </div>
            <div class="col-sm-8">
                <div class="project-sort float-right">
                    <div class="project-sort-item">
                        <form class="form-inline">

                            <div class="form-group">
                                <label>Sortieren :</label>
                                <select class="form-control ml-2 form-control-sm">
                                    <option>A-Z</option>
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
            </div><!-- end col-->
        </div>

        <div class="row mt-2 mb-5" id="restaurantOverview">

        </div>

    </div>
</div>


@section scripts {

    <script type="text/javascript">

        const overviewItem = ({ Id, Name, Description, ImageName }) => `
            <div class="col-md-6 col-xl-4 mt-2 mb-2">

                <div class="card">                    
                    <div class="card-body">
                        <div class="float-right">
                            <a href="#" class="pm-edit-item-icon">
                                <i class="fas fa-pen"></i>
                            </a>
                        </div>
                        <h5 class="card-subtitle text-muted">
                            ${Name.substring(0, 30)}
                        </h5>
                    </div>
                    <img class="img-fluid" src="/Uploads/Restaurants/${ImageName}" alt="Restaurant Image ${Name}">
                    <div class="card-body">
                        <p class="card-text">
                            ${Description}
                        </p>
                    </div>
                </div>

            </div>
        `;


        $(document).ready(function () {
            $.ajax({
                url: "/api/v1/restaurants/getOverviewItems"
            }).then(function (data) {
                $('#restaurantOverview').html('');
                data.forEach(appendToOverview);

            });

        });



        function appendToOverview(item) {
            $('#restaurantOverview').append([item].map(overviewItem).join(''));
        }


        

    </script>    
    
}