@using FindMyRestaurant.Framework.Helpers;
@{
    ViewBag.Title = "Restaurants";
}

<div class="wrapper">
    <div class="container-fluid">

        @CustomHtmlHelper.PageTitleRow(ViewBag.Title)

    </div>
</div>