@{
    ViewBag.Title = "Home Page";
}


<div class="wrapper">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <h4 class="page-title">Dashboard</h4>
                </div>
            </div>
        </div>
        <!-- end page title -->


    </div> <!-- end container -->
</div>
<!-- end wrapper -->