@{
    ViewBag.Title = "Dashboard";
}


<div class="wrapper">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <h4 class="page-title">Dashboard</h4>
                </div>
            </div>
        </div>
        <!-- end page title -->




        <div class="row">

            <div class="col-xl-12">
                <div class="card-box">
                    
                    <h4 class="header-title mt-0 mb-3">Zuletzt hinzugefügte Restaurants</h4>

                    <div class="table-responsive">
                        <table class="table table-hover mb-0">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Letzter Besuch</th>
                                    <th>Bewertung</th>
                                </tr>
                            </thead>
                            <tbody>                                
                                <tr onclick="javascript:console.log('Clicked')">
                                    <td>
                                        <a href="#">
                                            Mediterrane Durlach
                                        </a>
                                    </td>
                                    <td>25.01.2020</td>
                                    <td>
                                        <span class="rating fa fa-star checked"></span>
                                        <span class="rating fa fa-star checked"></span>
                                        <span class="rating fa fa-star checked"></span>
                                        <span class="rating fa fa-star checked"></span>
                                        <span class="rating fa fa-star"></span>
                                    </td>
                                </tr>

                                <tr onclick="javascript:console.log('Clicked')">
                                    <td>
                                        <a href="">
                                            Brick + Bone Steakhouse - Karlsruhe
                                        </a>
                                    </td>
                                    <td>04.01.2020</td>
                                    <td>
                                        <span class="rating fa fa-star checked"></span>
                                        <span class="rating fa fa-star checked"></span>
                                        <span class="rating fa fa-star"></span>
                                        <span class="rating fa fa-star"></span>
                                        <span class="rating fa fa-star"></span>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div><!-- end col -->


        </div>


    </div> <!-- end container -->
</div>
<!-- end wrapper -->