@using FindMyRestaurant.Framework.Helpers
@{
    ViewBag.Title = "Besuche";
}



<div class="wrapper">
    <div class="container-fluid">

        @CustomHtmlHelper.PageTitleRow(ViewBag.Title)


        <div class="row mb-4">
            <div class="col-sm-4">
                <button type="button" class="btn btn-dark btn-default" data-toggle="modal" data-target="#addVisitModal">
                    <i class="far fa-calendar-plus"></i> Besuch anlegen
                </button>
            </div>
            <div class="col-sm-8">
                <div class="project-sort float-right">
                    <div class="project-sort-item">
                        <form class="form-inline">

                            <div class="form-group">
                                <label>Sortieren :</label>
                                <select class="form-control ml-2 form-control-sm">
                                    <option>Datum</option>
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
            </div><!-- end col-->
        </div>


        <div id="visitOverview">
            <div class="d-flex justify-content-center" id="visitsPreloader">
                <div class="spinner-grow text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
        


    </div>
</div>











<!-- Modals -->

<div class="modal fade" id="addVisitModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="addVisitModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addVisitModalLabel">Neuen Besuch anlegen</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
               
                <form id="addVisitForm" action="" method="post">
                    <div class="form-group row">
                        <label class="col-sm-2  col-form-label pm-required" for="Name">Name</label>
                        <div class="col-sm-10">
                            <input type="text" id="Name" name="Name" class="form-control" value="" required="">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2  col-form-label pm-required" for="DateOfVisit">Datum</label>
                        <div class="col-sm-10">
                            <input class="form-control" id="DateOfVisit" type="date" name="DateOfVisit" required="">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label pm-required" for="Restaurant_Id">Restaurant</label>
                        <div class="col-sm-10">
                            <select class="custom-select" id="Restaurant_Id" name="Restaurant_Id" required="">
                                <option selected="" disabled="" hidden="">Restaurant auswählen</option>
                            </select>
                        </div>
                    </div>
                </form>



            </div>
            <div class="modal-footer">
                <span class="pm-validation-error hidden" id="validation-global">Bitte Daten prüfen.</span>
                <span class="pm-form-success hidden" id="visit-success-global">Besuch erfolgreich angelegt.</span>

                <button type="reset" class="btn btn-secondary" data-dismiss="modal">Schließen</button>
                <button type="button" class="btn btn-primary" id="submit">Besuch anlegen</button>
            </div>
        </div>
    </div>
</div>

<!-- ./Modals -->




@section scripts {
    
    <script type="text/javascript">

        const RestaurantSelectBoxOption = ({ Id, Name }) => `
            <option value="${Id}">${Name}</option>
        `;

        const VisitOverviewItem = ({ Id, VisitName, RestaurantName }) => `
            <div class="row">
                <div class="col-xl-12">
                    <div class="card-box project-box">

                        <div class="badge badge-secondary float-right">${RestaurantName}</div>

                        <h4 class="mt-0">
                            <a href="#" class="text-dark">
                                ${VisitName}
                            </a>
                        </h4>
                        <p class="text-muted">
                            ${RestaurantName}
                            <a href="${Id}" class="text-primary">
                                Anzeigen <i class="fas fa-angle-double-right"></i>
                            </a>
                        </p>
                        <h5>Gesamtbewertung <span class="text-primary float-right">0%</span></h5>
                        <div class="progress progress-bar-alt-primary progress-sm">
                            <div class="progress-bar bg-primary wow" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%; visibility: visible;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        `;


        $(document).ready(function () {
            $.ajax({
                url: "/api/v1/visits/getAllForOverview"
            }).then(function (data) {
                $('#visitOverview').html('');
                data.forEach(appendToOverview);

            });

        });




        $('#addVisitModal').on('show.bs.modal', function () {

            prepareModal();

            $.ajax({
                url: "/api/v1/restaurants/getAll"
            }).then(function (data) {

                data.forEach(appendToSelectBox);

            });

        });



        $('#submit').on('click', function () {

            if ($('#Name').val().length !== 0) {
                $.ajax({
                    url: '/api/v1/visits/add',
                    type: 'POST',
                    dataType: 'json',
                    data: $('#addVisitForm').serialize(),
                    success: function (result) {
                        lockModalOnFormSuccess();
                    },
                    error: function (result) {
                        lockModalOnFormSuccess();
                    }
                })
            }
            else {
                $('#validation-global').removeClass('hidden');
                $('#Name').addClass('pm-validation-error');
            }

            

        });


        function appendToOverview(item) {
            $('#visitOverview').append([item].map(VisitOverviewItem).join(''));
        }

        function appendToSelectBox(item) {
            $('#Restaurant_Id').append([item].map(RestaurantSelectBoxOption).join(''));
        }



        function prepareModal() {
            $('#addVisitForm').trigger('reset');
            $('#visit-success-global').addClass('hidden');
            $('#submit').removeClass('disabled');
            $('#submit').removeProp('disabled');
        }

        function lockModalOnFormSuccess() {
            $('#visit-success-global').removeClass('hidden');
            $('#submit').prop('disabled', true);
        }



    </script>    
    
}