body {
    background-color: #ebeff2 !important;
}

h4.page-title {
    color: #323a46 !important;
    font-weight: bold;
}




/* StarRating */
.rating {
    color: #dee2e6;
}

.rating.checked {
    color: orange;
}


/* Cards */
.card-box {
    background-color: white;
    padding: 1.5rem;
    box-shadow: 0 .75rem 6rem rgba(56, 65, 74, .03);
    margin-bottom: 24px;
    border-radius: .25rem;
}