body {
    background-color: #ebeff2 !important;
}

h4.page-title {
    color: #323a46 !important;
    font-weight: bold;
}


.pm-hide-card-box {
    display: none;
}




/* StarRating */
.pm-rating {
    color: #dee2e6;
}

.pm-rating.checked {
    color: orange;
}


/* Cards */
.card-box {
    background-color: white;
    padding: 1.5rem;
    box-shadow: 0 .75rem 6rem rgba(56, 65, 74, .03);
    margin-bottom: 24px;
    border-radius: .25rem;
}


/* Forms */

.pm-required:after {
    content: "*";
    color: red;
}

span.pm-validation-error {
    color: red;
}
span.pm-validation-error.hidden {
    display: none;
}

span.pm-form-success {
    color: green;
}

span.pm-form-success.hidden {
    display: none;
}


input.pm-validation-error {
    border: 1px solid red;
}



/* pm-click-button 
.pm-click-button {
    margin: 4px;
    background-color: #EFEFEF;
    border-radius: 4px;
    border: 1px solid #D0D0D0;
    float: left;
    width: 15%;
}*/

.pm-click-button {
    margin: 3%;
}



.pm-click-button label span {
    padding: 1rem 1rem;
    text-align: center;
    border-radius: 4px;
}

.pm-click-button input + span {
    border: 1px solid #c3e6cb;
}


.pm-click-button input:hover + span {
    border: 1px solid #155724;
}

.pm-click-button input:checked + span {
    border: 1px solid #155724;
    background-color: #d4edda;
}

.pm-click-button input:checked:hover + span {
    border: 1px solid #c3e6cb;
}

.pm-click-button input[type="checkbox" i] {
    display: none;
}

/* ./pm-click-button */