<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                FindMyRestaurant v@(System.Configuration.ConfigurationManager.AppSettings["AppVersion"])
            </div>
            <div class="col-md-6">
                <div class="text-md-right footer-links d-none d-sm-block">
                    <a href="">Impressum</a>
                    <a href="">Datenschutz</a>
                </div>
            </div>
        </div>
    </div>
</footer>