<footer class="footer">
    <div class="container-fluid">

        <div class="row d-block d-sm-none mb-3">
            <form class="app-search" action="@Url.Action("Index", "Find")" method="GET">
                <div class="app-search-box">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Suche..." name="SearchString" id="app-footer-search-input">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit">
                                <i class="fe-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>


        <div class="row">
            <div class="col-md-6">
                FindMyRestaurant v@(System.Configuration.ConfigurationManager.AppSettings["AppVersion"])
            </div>
            <div class="col-md-6">
                <div class="text-md-right footer-links">
                    <a href="@Url.Action("Imprint", "Legal")">Impressum</a>
                    <a href="@Url.Action("PrivacyPolicy", "Legal")">Datenschutz</a>
                </div>
            </div>
        </div>
    </div>
</footer>