<div class="topbar-menu">
    <div class="container-fluid">
        <div id="navigation">
            <!-- Navigation Menu-->
            <ul class="navigation-menu">

                <li>
                    <a href="@Url.Action("Index", "Home")"><i class="mdi mdi-view-dashboard"></i>Dashboard</a>
                </li>

                <li>
                    <a href="@Url.Action("Index", "Find")"><i class="fas fa-search-location"></i>Restaurant finden</a>
                </li>

                <li>
                    <a href="@Url.Action("Index", "Visit")"><i class="fas fa-calendar-alt"></i>Besuche</a>
                </li>

                <li>
                    <a href="@Url.Action("Index", "Restaurant")"><i class="fas fa-utensils"></i>Restaurants</a>
                </li>


            </ul>
            <!-- End navigation menu -->

            <div class="clearfix"></div>
        </div>
        <!-- end #navigation -->
    </div>
    <!-- end container -->
</div>
<!-- end navbar-custom -->