@using FindMyRestaurant.Framework.Helpers
@{
    ViewBag.Title = "PrivacyPolicy";
}

<div class="wrapper">
    <div class="container-fluid">
        @CustomHtmlHelper.PageTitleRow(ViewBag.Title)
    </div>
</div>